.maintitle{
    margin: auto;
    text-align: center;
    border: 3px solid rgb(1, 138, 138);
    background-color: rgb(109, 109, 109);
    color: rgb(135, 181, 241);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

.one{
    grid-column: 3;
    grid-row: 4;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 45%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
border: 3px solid rgb(1, 138, 138);
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
background-color: #111;
}

.active {
background-color: #4CAF50;
}

.mainimg {
    width: 100%;
    height: auto;
}

.colorcrafter{
    color: #e05555;
}
